.not-found {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.not-found > h1 {
  font-size: 252px;
  color: #343a40;
  font-weight: 900;
  letter-spacing: -40px;
  margin-left: -20px;
}

.not-found > h2 {
  text-shadow: -6px 2x 2px #b9b8b8;
  text-transform: uppercase;
  color: #343a40;
  font-size: 45px;
  font-weight: 900;
}

.not-found > h3 {
  text-shadow: -4px 1x 1px #b9b8b8;
  text-transform: uppercase;
  color: #5d6063;
  font-size: 20px;
  font-weight: 800;
}

.not-found > h1 > span {
  text-shadow: -8px 2px 2px #b9b8b8;
}
